.social-btn {
	width: 150px;
	height: 50px;
	background-color: #004c99;
	color: white;
	font-size: 18px;
	font-family: helvetica;
	font-weight: bold;
	border: solid 1px black;
	line-height: 50px;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}